/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    background-color: var(--main-color);
    color: var(--accent-color);
    font-size: var(--main-font-size);
    background: repeating-linear-gradient(
            90deg,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(
            180deg,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    background-size: cover;
    background-attachment: fixed;
}

@media (width > 375px) {
    .page {
        width: 700px;
        margin: auto;
    }
}

/* .header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    border: solid 2px var(--accent-color);
    margin: 100px 0 99px 0;
    background-color: var(--main-color);
}

.title {
    font-family: var(--accent-font);
    font-weight: var(--main-font-weight);
    text-transform: uppercase;
    font-size: 49px;
    margin-top: 120px;
}

.title__description {
    font-family: var(--accent-font);
    text-transform: uppercase;
    font-size: 14px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: 0 0 20px 20px;
}

.theme-menu__button {
    font-family: var(--accent-font);
    font-stretch: 110%;
    text-transform: uppercase;
    font-size: 14px;
    background-color: transparent;
    position: relative;
    transition: opacity 0.3s ease;
    padding: 0;
}

@media (width > 375px) {
    .title {
        font-size: clamp(3.0625rem, 2.5723rem + 2.0915vw, 4.0625rem);
        margin-top: clamp(7.5rem, 7.17rem + 1.408vw, 8.438rem);
    }

    .title__description {
        font-size: clamp(0.875rem, 0.5993rem + 1.1765vw, 1.4375rem);
    }
}

/* .sprints */

.sprints__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 0 50px;
}

/* .card */

.card {
    border: solid 2px var(--accent-color);
    background-color: var(--main-color);
}

.card__title {
    font-variation-settings: var(--title-font-weight);
    font-size: var(--main-font-size);
    padding: 5px 5px 5px 10px;
}

.card__img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 375px;
    object-fit: cover;
    z-index: 1;
}

.card__img-label {
    font-family: var(--accent-font);
    font-size: 14px;
    mix-blend-mode: hard-light;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
    right: 11px;
    top: 23px;
    text-shadow: -1px 0 var(--main-color), 0 1px var(--main-color),
        1px 0 var(--main-color), 0 -1px var(--main-color);
}

@supports (
    (text-stroke: 1px var(--main-color)) or
        (-webkit-text-stroke: 1px var(--main-color))
) {
    .card__img-label {
        -webkit-text-stroke: 1px var(--main-color);
        text-stroke: 1px (--main-color);
        text-shadow: none;
    }
}

.card__img-container {
    position: relative;
    border-top: solid 2px var(--accent-color);
    border-bottom: solid 2px var(--accent-color);
}

.card__article {
    font-weight: var(--main-font-weight);
    padding: 21px 25px 6px 25px;
}

.card__like-button {
    width: 130px;
    height: 38px;
}

.card__icon-button {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: outline 0.3s ease;
}

.card__img-saturate-brightness {
    filter: saturate(34%) brightness(130%);
}

.card__img-contrast {
    filter: contrast(142%);
}

.card__img-hue-rotate {
    filter: hue-rotate(39deg);
}

.card__img-invert {
    filter: invert(0.7);
}

.card__img-sepia {
    filter: sepia(1);
}

.card__img-blur {
    filter: blur(1px);
}

.card__img-filter-mix {
    filter: hue-rotate(83deg) contrast(50%) sepia(31%);
}

@media (width > 375px) {
    .card__img {
        min-height: 698px;
    }

    .card__article {
        padding: 22px 25px 6px 25px;
    }

    .card__img-label {
        right: 26px;
        top: 26px;
    }
}

/* .button */

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin: 20px 24px 24px;
    align-items: center;
}

.button__text {
    font-family: var(--accent-font);
    font-size: 14px;
    line-height: 90%;
    color: var(--accent-color);
}

/* .button-footer */

.button-footer {
    justify-content: center;
    margin: 0 0 101px 0;
}

.sprints__save-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px 20px;
}


@media (width > 375px) {
    .sprints__save-button {
        flex-direction: row;
        justify-content: space-between;
        gap: 9px;
        padding: 16px 19px;
    }

    .save-button-icon {
        width: 21px;
        height: 21px;
    }
}

/* .dialog */

.dialog {
    display: grid;
    background-color: var(--main-color);
    border: solid 2px var(--accent-color);
    width: 340px;
    padding: 30px 38px;
    position: fixed;
    inset: 0;
    transition: opacity 0.3s ease-in-out;
    left: 0;
    bottom: -189px;
}

.dialog:not([open]) {
    pointer-events: none;
    opacity: 0;
}

.dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.dialog__message-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 31px 0;
    gap: 21px;
}

.dialog__message-container .save-button-icon {
    min-width: 39px;
    min-height: 39px;
}

.dialog__save-button {
    align-self: stretch;
    padding: 5px 29px;
    width: 100%;
}

.dialog__message-container .button__text {
    line-height: 150%;
    text-transform: uppercase;
}

@media (width > 375px) {
    .dialog {
        width: 357px;
        padding: 30px 29px;
    }

    .dialog__message-container {
        margin: 0 0 29px 0;
    }
}
