/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', Arial, sans-serif;
    --accent-font: 'PressStart2P-Regular', Papyrus, fantasy;
    --main-font-weight: 400;
    --title-font-weight: 700;
    --main-color: #f5f5f5;
    --accent-color: #000;
    --invert-accent-color: #fff;
    --main-font-size: 18px;
    --contour-like-icon: #000;
    --fill-active-like-icon: #ff0000;
    --fill-hover-like-icon: #000;
    --background-color-grid: #d3d3d3;
    --background-color-fill-start: #e7e7e7;
    --background-color-fill-end: #1a1a1a;
}
